<header>
  <h1>Angular Resizable Table Columns</h1>
</header>

<section>
  <table>
    <thead>
      <tr>
        <th resizable>ID</th>
        <th resizable>Name</th>
        <th resizable>Address</th>
        <th resizable>City</th>
        <th resizable>State</th>
        <th resizable>ZIP</th>
      </tr>
    </thead>
    <tbody>
      @for(row of rows(); track $index ){
      <tr>
        @for( cell of row; track cell ){
        <td>
          <span>
            {{ cell }}
          </span>
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</section>
